.dialog-mask {
  @apply fixed top-0 left-0 z-[999] flex h-full w-full items-baseline justify-center overflow-auto bg-black bg-opacity-40;
  .dialog-container {
    @apply animate-dialog relative mx-2 text-[#616161];
    .close-wrap {
      @apply absolute right-[10px] top-[10px];
      .close {
        @apply relative z-[1] h-[30px] w-[30px] cursor-pointer rounded-[50%];
        &:after {
          content: "";
          position: absolute;
          border: 1px solid #9f9f9f;
          height: 20px;
          border-radius: 100px;
          top: 50%;
          right: 50%;
          transform: translateY(-50%) translateX(50%) rotate(45deg);
        }
        &:before {
          content: "";
          position: absolute;
          border: 1px solid #9f9f9f;
          height: 20px;
          border-radius: 100px;
          top: 50%;
          right: 50%;
          transform: translateY(-50%) translateX(50%) rotate(-45deg);
        }
      }
    }

    .input-container {
      margin-bottom: 12px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: relative;
        height: 20px;
        width: 20px;
        margin-right: 5px;
        background-color: #3b3939;
        border: 2px solid #3b3939;
      }

      input:checked ~ .checkmark {
        background-color: #3b3939;
      }

      .checkmark:after {
        content: "";
        display: none;
      }

      input:checked ~ .checkmark:after {
        display: block;
      }

      .checkmark:after {
        left: 5px;
        top: 2px;
        position: absolute;
        text-align: center;
        width: 7px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }
}
