.ez-dialog {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(to top, #101010, #2a2a2a, #101010);
  border-image-slice: 1;
  background-image: linear-gradient(to top, #101010, #2a2a2a, #101010),
    linear-gradient(to top, #101010, #2a2a2a, #101010);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 0 13px 0 rgb(249 249 249 / 25%);
}
